* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    background: #000;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__box{
    display: flex;
    justify-content: space-between;

}
.nav__list{
    display: flex;justify-content: center;
}
.nav__link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 25px;
    color: #fff;
    padding: 20px;
}
.title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: #000;
}
.background{
    width: 100%;
    z-index: -1;
}
.nav__botom{
    display: flex;
    align-items: center;justify-content: center;
    position: relative;
}
.nav__botom-box{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form{
    margin-top: 100px;
    display: flex;
    justify-content: center;

}
.nav__botom-btn{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 35px;
    color: #000;
    border-radius: 10px;
    width: 237px;
    height: 57px;
    background: #fff;
}
.main__top{
    background: #0e1c25;
}
.main__top-title{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 40px;
    color: #fff; 
}

.main__top-right-title{
        font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    padding-top: 95px;
}
.main__top-right-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: #fff;
    max-width: 466px;
    padding-top: 64px;
 }
 .main__top-box{
display: flex;
justify-content: space-between;
 }
 .main__top-left{
    padding-top: 50px;
 }
 .main__botom{
    background: #5c6b81;
 }
 .main__botom-item{
    border-radius: 10px;
width: 312px;
height: 550px;
background: #b12b06;
display: flex;justify-content: center;flex-wrap: wrap;
 }
 .main__botom-item-title{
    display: flex;
    justify-content: center;
    padding-top: 20px;

     font-family: var(--font-family);
     font-weight: 700;
     font-size: 20px;
     color: #fff;
    }
.main__botom-item-text{
    display: flex;
padding-right: -24px;

    justify-content: center;
    padding-top: 20px;
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
text-align: center;
color: #fff;
width: 264px;
}
.main__botom-item-btn{
    font-family: var(--font-family);
font-weight: 700;
font-size: 20px;
color: #000;
border-radius: 10px;
width: 168px;
height: 40px;
background: #fff;
margin-bottom: 27px;
}
.main__botom-item-img{
    border-radius: 10px;
display: flex;
justify-content: center;
padding: 15px;
}
.main__botom-itemes{

    display: grid;
grid-template-columns: repeat(3, 1fr);
    grid-row: auto;
padding-bottom: 30px;
margin-top: 60px;
}
.main__botom-item{
    margin-bottom: 30px;
}
.footer{
    height: 243px;
background: #000;
}
.footer__title{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding-top: 36px;
}
.footer__text{
    display: flex;
margin-top: 40px;
justify-content: space-between;
}
.btn{
    background: #000;
border: #000;
}